*.apk
*.aar
*.ap_
*.aab
*.class
*.cxx
*.dex
.gradle
*.iml
*.jks
*.keystore
*.log
.navigation/
bin/
/build
/captures
gen/
out/
proguard/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/dictionaries
/.idea/gradle.xml
/.idea/libraries
/.idea/navEditor.xml
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
.externalNativeBuild
local.properties
/local.properties
